<!DOCTYPE html>
<html>
<head>
    <title>Item Page</title>
    <script src="https://js.stripe.com/v3/"></script>
</head>
<body>
    <h1>{{ item.name }}</h1>
    <p>{{ item.description }}</p>
    <p>Price: {{ item.price }}</p>
    <button id="buy-button">Купить</button>

    <script>
        const itemCurrency = '{{ item.currency }}';
        const publishableKeyUSD = '{{ STRIPE_PUBLISHABLE_KEY_USD }}';
        const publishableKeyEUR = '{{ STRIPE_PUBLISHABLE_KEY_EUR }}';
    
        let stripe;
        if (itemCurrency === 'USD') {
            stripe = Stripe(publishableKeyUSD);
        } else if (itemCurrency === 'EUR') {
            stripe = Stripe(publishableKeyEUR);
        }
    
        document.getElementById('buy-button').addEventListener('click', async () => {
            const response = await fetch(`/buy/{{ item.id }}`);
            const data = await response.json();
            const sessionId = data.session_id;
            const result = await stripe.redirectToCheckout({ sessionId });
            if (result.error) {
                alert(result.error.message);
            }
        });
    </script>
    
</body>
</html>
